.results {
   cursor: default;
   display: block;
   font-family:arial,helvetica,sans-serif;
   font-size: 14px; 
   height: 75%;
   padding: 5px;
   position: relative;
   text-align: justify; 
   top: 10px;
   width: 1024px;
   z-index: 1;
}   
    
    
.search {

        
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
        letter-spacing:0.1em;
        text-align:center; 
        line-height: 200px;
        margin: 40px auto;
        text-transform: lowercase;
        line-height: 145%;
        font-size: 14pt;
        font-variant: small-caps;

}

.headline {
 font-family: Georgia, "Times New Roman", Times, serif;
        font-size:24px;
        margin-top: 5px; margin-bottom: 0px;
        text-align: center;
        font-weight: normal;
        color: #222;
}

.subHeadline {
 font-family: "Lucida Grande", Tahoma;
        font-size: 10px;
        font-weight: lighter;
        font-variant: normal;
  	text-transform: uppercase;
        color: #666666;
        margin-top: 10px;
        text-align: center!important;
        letter-spacing: 0.3em;
}


                                                             
